# Environments
.env
.venv/
venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Models
models/

# VSCode / IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
